aniso8601==8.0.0
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
coverage==5.0.3
cycler==0.10.0
filelock==3.0.12
Flask==1.1.1
Flask-RESTful==0.3.7
gdown==3.9.1
googledrivedownloader==0.4
idna==2.8
importlib-metadata==1.4.0
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.3
more-itertools==8.1.0
numpy==1.18.1
packaging==20.1
pandas==0.25.3
pathlib2==2.3.5
pluggy==0.13.1
py==1.8.1
py-eureka-client==0.7.4
pyparsing==2.4.6
PySocks==1.7.1
pytest==5.3.4
pytest-cov==2.8.1
pytest-flask==0.15.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
tqdm==4.41.1
urllib3==1.25.7
wcwidth==0.1.8
Werkzeug==0.16.0
xlrd==1.2.0
zipp==1.1.0
